In [4]:
from sqlalchemy import create_engine
import pandas as pd

# Datos de conexión
user = "postgres"
password = ""
host = "localhost"
port = "5432"
dbname = "db"

# Crear el engine de conexión
DATABASE_URL = f"postgresql://{user}:{password}@{host}:{port}/{dbname}"
engine = create_engine(DATABASE_URL)

# Leer los datos usando pandas sin warnings
query = """
SELECT fecha, medidor_id, consumo
FROM public.core_consumo
ORDER BY fecha, medidor_id;
"""
df = pd.read_sql_query(query, engine)

# Mostrar resultados
df.head()

                      fecha  medidor_id  consumo
0 2020-12-31 23:00:00+00:00           1  2376.00
1 2020-12-31 23:00:00+00:00           3  1575.00
2 2020-12-31 23:00:00+00:00          26  2575.00
3 2021-01-21 11:00:00+00:00          10   591.18
4 2021-01-21 12:00:00+00:00          10   591.18